/* CSS RESET */
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a{
    text-decoration: none;
}

.clearfix:after{
    clear: both;
    display: block;
    content: ' ';
    height: 0;
}


/*-------UNIVERSAL------------*/
.button{
    display: block;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    color: #9BC73C;
    border: 1px solid #9BC73C;
    font-weight: lighter;
}

.button:hover{
    background-color: #9BC73C;
    color: white;
}


/* ------- HEADER ---------*/
header{
    background-color: rgba(248, 248, 248, 0.95);
    height: 75px;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 999;
    box-shadow: 1px 1px 7px 1px #999;
}

header h1, header nav{
    float: left;
    width: 50%;
}

header h1{
    padding: 15px;
}

header h1 img{
    width: 50px;
    height: auto;
}

header .wrapper{
    width: 90%;
    margin: 0 auto;
}

header nav ul{
    float: right;
    padding: 20px 0;
}

nav ul li{
    float: left;
    width: 150px;
    text-align: center;
}

nav ul li a{
    display: block;
    padding: 10px;
    text-transform: lowercase;
}

nav ul li a i{
    padding-right: 5px;
}

header .button{
    width: 120px;
}



/* ------------- DASHBOARD ----------*/
main {
    margin-top: 75px;
    background-image: url('http://yadayadacreative.com/CDA/logoLarge.png');
    background-repeat: no-repeat;
    background-position: center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dashboardCols > div {
    float: left;
    width: 50%;
    min-height: 500px;
}

.dashboardLeftCol ul{
    padding: 30px;
}

.dashboardRightCol{
    background: #f8f8f8;
    color: white;
    font-size: 32px;
    text-align: center;
}

.dashboardRightCol p{
    padding: 60px;
    color: #ddd;
}

.dashboardCols h3{
    font-size: 32px;
    text-align: center;
    font-weight: lighter;
    text-transform: uppercase;
    background-color: #F26248;
    color: white;
    padding: 15px 0;
}

.dashboardSummary{
    background-color: #193441;
    color: white;
}

.dashboardSummaryProf, .dashboardSummaryStats{
    float: left;
    min-height: 200px;
}

.dashboardSummaryProf{
    width: 30%;
    padding: 30px;
}

.dashboardSummaryProf h3{
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.dashboardSummaryProf img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.dashboardSummaryStats{
    width: 70%;
}

.dashboardSummaryStats > div{
    float: left;
    width: 32%;
    text-align: center;
    padding: 70px 30px;
}

.dashboardSummaryStats > div p{
    font-size: 92px;
    font-weight: lighter;
    color: #9BC73C;
}

.dashboardSummaryStats > div h5{
    font-size: 18px;
    font-weight: 700;
    padding: 5px 60px;
    word-spacing: 3px;
    line-height: 120%;
    text-transform: uppercase
}

.dashboardLeftColItem{
    border-radius: 5px;
    padding: 10px;
    height: 75px;
    margin: 5px 0 25px;
    background-color: #f8f8f8;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.dashboardLeftColItem:hover, .dashboardLeftColItem:hover h6{
    background-color: #9BC73C;
    color: white;
}

.dashboardLeftColItem > div{
    float: left;
}

.dashboardLeftColItem > div:first-of-type{
    width: 75%;
}

.dashboardLeftColItem > div:nth-of-type(2){
    width: 15%;
}

.dashboardLeftColItem > div:last-of-type{
    width: 10%;
    text-align: right;
    vertical-align: middle;
    padding-top: 10px;
}

.dashboardLeftColItem h6{
    text-transform: uppercase;
    color: #999;
}

.dashboardLeftColItem p{
    font-size: 20px;
    margin: 10px 0;
}


/* ---------WELCOME-----------*/
.intro, .team, .about{
    min-height: 350px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
    padding: 100px;
}

.about{
    background-color: rgba(248, 248, 248, 0.95);
}

.intro h1{
    font-size: 92px;
    color: #F26248;
    text-transform: uppercase;
    font-family: 'Baloo Tamma', cursive;
}

.intro h2{
    font-size: 24px;
    margin: 10px 0;
}

.team h3, .about h3{
    font-size: 52px;
    text-transform: uppercase;
    color: #9BC73C;
    margin-bottom: 60px;
    font-weight: 700;
}

.team h5{
    font-size: 20px;
    margin: 10px 0 5px;
    font-weight: 700;
}

.team h6{
    font-weight: 500;
}

.team p{
    font-weight: lighter;
    margin: 15px 0;
}

.teamUl{
    width: 80%;
    margin: 35px auto;
}

.teamUl li{
    float: left;
    width: 25%;
    padding: 20px;
}

.teamUl img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}